@charset "ISO-8859-1";
body{
	background-image: url("IMAGES/bg1.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family:"Comic Sans MS" sans-serif;
}
h2 {
	text-align: center;
	font-family: "Old English Text MT",sans-serif;
	font-size: 38px;
	text-shadow: 0 0 10px red;
}
fieldset {
	border: 3px solid black;
	padding: 10px;
	box-shadow: 0 0 10px red; 
	border-radius: 0px 20px 0px 20px;
	background-color: rgba(0,0,0,0.5);
}
fieldset legend{
	border: 3px solid white;
	border-radius: 0px 20px 0px 20px;
	padding:10px;
	background: linear-gradient(45deg,green,darkred);
	font-family: "Old English Text MT",sans-serif;
	font-size: 18px;
}
table {
	width:100%;
}
table td{
	font-size: 18px;
	padding: 10px;  
}
table th{
	text-align: left;
}
input[type="text"], input[type="week"], input[type="month"], input[type="number"], input[type="time"], input[type="date"],select,textarea {
	border-radius: 20px;
	height: 20px;
	width: 200px;
	outline: none;
	border: none;
	font-size: 20px;
	background-color: rgb(230,219,228);
	color: black;
}
textarea {
	height: 70px;
}
.botton{
	border: 3px solid black;
	padding: 12px 17px;
	background: linear-gradient(45deg,green,darkred);
	color: white;
	border-radius: 0px 20px 0px 20px;
	font-family: "Old English Text MT",sans-serif;
	font-size: 20px;
} 
.botton:hover {
	cursor: pointer;
	background: linear-gradient(45deg,blueviolet,deeppink);
}
input[type="text"]:focus, input[type="week"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="time"]:focus, input[type="date"]:focus,select:focus,textarea:focus {
	background-color:rgb(19,174,038);
	box-shadow: 0 0 10px yellow;
		
}